# Zip() Function

It works on e.g. two lists and merge them into 1 dictionary.

In [ ]:
BMW    = [1.1, 1.6, 1.8, 2.0, 2.5, 3.0, 4.0]
Subaru = [1.5, 1.6, 1.8, 2.0, 2.2, 2.5, 3.0]

list_of_engines = list(zip(BMW, Subaru))
list_of_engines

[(1.1, 1.5),
 (1.6, 1.6),
 (1.8, 1.8),
 (2.0, 2.0),
 (2.5, 2.2),
 (3.0, 2.5),
 (4.0, 3.0)]

Next - pass zipped list into Pandas.

In [ ]:
import pandas as pd

df = pd.DataFrame(list_of_engines, columns = ["BMW", "Subaru"])
df

   BMW  Subaru
0  1.1     1.5
1  1.6     1.6
2  1.8     1.8
3  2.0     2.0
4  2.5     2.2
5  3.0     2.5
6  4.0     3.0

Can we have more columns to be zipped?

In [ ]:
Mercedes = [1.3, 1.5, 1.8, 2.0, 2.3, 2.5, 2.8]

In [ ]:
list_of_engines_2 = list(zip(BMW, Subaru, Mercedes))

df_2 = pd.DataFrame(list_of_engines_2, columns = ["BMW", "Subaru", "Mercedes"])
df_2

   BMW  Subaru  Mercedes
0  1.1     1.5       1.3
1  1.6     1.6       1.5
2  1.8     1.8       1.8
3  2.0     2.0       2.0
4  2.5     2.2       2.3
5  3.0     2.5       2.5
6  4.0     3.0       2.8

Faster option. :)

In [ ]:
df["Mercedes"] = Mercedes
df

   BMW  Subaru  Mercedes
0  1.1     1.5       1.3
1  1.6     1.6       1.5
2  1.8     1.8       1.8
3  2.0     2.0       2.0
4  2.5     2.2       2.3
5  3.0     2.5       2.5
6  4.0     3.0       2.8

# Copy DataFrame

To make a proper copy of DataFrame - use copy() method of Pandas DataFrame object. 

See below how will it will work without making copy.

In [ ]:
df_2

   BMW  Subaru  Mercedes
0  1.1     1.5       1.3
1  1.6     1.6       1.5
2  1.8     1.8       1.8
3  2.0     2.0       2.0
4  2.5     2.2       2.3
5  3.0     2.5       2.5
6  4.0     3.0       2.8

In [ ]:
df_link = df_2 #df_link nav kopija, bet ir adrese atmiņā

Let's add some dummy column "foo" to the DataFrame.

In [ ]:
df_link["Foo"] = [0, 1, 2, 3, 4, 5, 6]
df_link

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
df_2

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

Now, we will reset *df_2* DataFrame and will do proper copy of *df_2* DataFrame.

In [ ]:
df_2

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
df_copy = df_2.copy()
df_copy

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
df_copy["Foo"] = [0, 1, 2, 3, 4, 5, 6]
df_copy

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
df_2

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

Thus, by execution of DF1 = DF2 - you will copy pointer (address in memory of DF2, not creating an entire copy).

# map(), apply(), applymap()

Let's summarize transformational functions we've learnt and check applymap() one.


*   apply() is used to apply a function along an axis of the DataFrame or on values of Series.
*   applymap() is used to apply a function to a ***DataFrame* elementwise**.
*   map() is used to substitute each value in a **Series** with another value.

![image.png]()

**I. Apply**

Demonstration of its usage on *DataFrame*.

In [ ]:
df_test_apply = df_2.copy()
df_test_apply_2 = df_2.copy()
df_test_apply

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
# Let's call this "avg" as mean is a built-in function
def avg(row):
  return row.mean()

df_test_apply["Mean"] = df_test_apply.apply(avg, axis = 1)
df_test_apply

   BMW  Subaru  Mercedes  Foo   Mean
0  1.1     1.5       1.3    0  0.975
1  1.6     1.6       1.5    1  1.425
2  1.8     1.8       1.8    2  1.850
3  2.0     2.0       2.0    3  2.250
4  2.5     2.2       2.3    4  2.750
5  3.0     2.5       2.5    5  3.250
6  4.0     3.0       2.8    6  3.950



---

**Q 08.01:** Try to run AVG calculation over columns, not rows.

In [ ]:
def avg_1(column):
  return column.mean()

df_test_apply_2_ = df_test_apply_2.apply(avg_1, axis = 0)
df_test_apply_2_

BMW         2.285714
Subaru      2.085714
Mercedes    2.028571
Foo         3.000000
dtype: float64

In [ ]:
df_test_apply_2.loc['7'] = df_test_apply_2.apply(avg, axis = 0) #pareizais variants
df_test_apply_2

        BMW    Subaru  Mercedes  Foo
0  1.100000  1.500000  1.300000  0.0
1  1.600000  1.600000  1.500000  1.0
2  1.800000  1.800000  1.800000  2.0
3  2.000000  2.000000  2.000000  3.0
4  2.500000  2.200000  2.300000  4.0
5  3.000000  2.500000  2.500000  5.0
6  4.000000  3.000000  2.800000  6.0
7  2.285714  2.085714  2.028571  3.0



---

Demonstration of *apply()* usage on *Series*.

In [ ]:
df_test_apply_series = df_2.copy()
df_test_apply_series

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

Assume we need to change dtype from float to integer in one of columns.

In [ ]:
def int_M(val):
  return int(val)

df_test_apply_series["int_M"] = df_test_apply_series["Mercedes"].apply(int_M)
df_test_apply_series #atmet floating point daļu

   BMW  Subaru  Mercedes  Foo  int_M
0  1.1     1.5       1.3    0      1
1  1.6     1.6       1.5    1      1
2  1.8     1.8       1.8    2      1
3  2.0     2.0       2.0    3      2
4  2.5     2.2       2.3    4      2
5  3.0     2.5       2.5    5      2
6  4.0     3.0       2.8    6      2

In [ ]:
df_test_apply_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMW       7 non-null      float64
 1   Subaru    7 non-null      float64
 2   Mercedes  7 non-null      float64
 3   Foo       7 non-null      int64
 4   int_M     7 non-null      int64
dtypes: float64(3), int64(2)
memory usage: 408.0 bytes

**II. Applymap()**

It is available only for whole DataFrame to perform element-wise operations.

In [ ]:
df_test_applymap = df_2.copy()
df_test_applymap

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
import numpy as np

df_test_applymap = df_test_applymap.applymap(np.int)
df_test_applymap

   BMW  Subaru  Mercedes  Foo
0    1       1         1    0
1    1       1         1    1
2    1       1         1    2
3    2       2         2    3
4    2       2         2    4
5    3       2         2    5
6    4       3         2    6

In [ ]:
df_test_applymap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMW       7 non-null      int64
 1   Subaru    7 non-null      int64
 2   Mercedes  7 non-null      int64
 3   Foo       7 non-null      int64
dtypes: int64(4)
memory usage: 352.0 bytes

**III. Map()**

Map takes one set of values and "maps" them to another set of values. Map *expects Series* as a data type and *returns Series* as well.

In [ ]:
df_test_map = df_2.copy()
df_test_map

   BMW  Subaru  Mercedes  Foo
0  1.1     1.5       1.3    0
1  1.6     1.6       1.5    1
2  1.8     1.8       1.8    2
3  2.0     2.0       2.0    3
4  2.5     2.2       2.3    4
5  3.0     2.5       2.5    5
6  4.0     3.0       2.8    6

In [ ]:
df_test_map.BMW.map(lambda x: int(x))

0    1
1    1
2    1
3    2
4    2
5    3
6    4
Name: BMW, dtype: int64

# Concatinate multiple DataSets (as files) in one DataFrame

**Q 08.02:** Develop a solution that will concatinate all CSV files of cryptocurrency observations.

In [ ]:
import pandas as pd
import glob

path = '/content/drive/MyDrive/Data analytics course/Crypto Hist Prices'
all_files = glob.glob(path + "/*.csv")

list_csv = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_csv.append(df)

frame = pd.concat(list_csv, axis=0, ignore_index=True)
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34115 entries, 0 to 34114
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        34115 non-null  int64
 1   Name       34115 non-null  object
 2   Symbol     34115 non-null  object
 3   Date       34115 non-null  object
 4   High       34115 non-null  float64
 5   Low        34115 non-null  float64
 6   Open       34115 non-null  float64
 7   Close      34115 non-null  float64
 8   Volume     34115 non-null  float64
 9   Marketcap  34115 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.6+ MB

In [ ]:
import pandas as pd # 2 variants
import glob

path = '/content/drive/MyDrive/Data analytics course/Crypto Hist Prices'
all_files = glob.glob(path + "/*.csv")

list_csv = []

for filename in all_files:
    df = pd.read_csv(filename)
    list_csv.append(df)

df_ = pd.concat(list_csv, axis=0, ignore_index=True)
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34115 entries, 0 to 34114
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        34115 non-null  int64
 1   Name       34115 non-null  object
 2   Symbol     34115 non-null  object
 3   Date       34115 non-null  object
 4   High       34115 non-null  float64
 5   Low        34115 non-null  float64
 6   Open       34115 non-null  float64
 7   Close      34115 non-null  float64
 8   Volume     34115 non-null  float64
 9   Marketcap  34115 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.6+ MB

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_[2620:2640]

      SNo     Name Symbol  ...       Close      Volume     Marketcap
2620  559  Bitcoin    BTC  ...  345.488007   8535470.0  4.656988e+09
2621  560  Bitcoin    BTC  ...  363.264008  24205600.0  4.897961e+09
2622  561  Bitcoin    BTC  ...  366.924011  30450100.0  4.948658e+09
2623  562  Bitcoin    BTC  ...  367.695007  15838900.0  4.960242e+09
2624  563  Bitcoin    BTC  ...  423.561005  45783200.0  5.715426e+09
2625  564  Bitcoin    BTC  ...  420.734985  58945000.0  5.678829e+09
2626  565  Bitcoin    BTC  ...  397.817993  29589200.0  5.371040e+09
2627  566  Bitcoin    BTC  ...  376.132996  15727500.0  5.079582e+09
2628  567  Bitcoin    BTC  ...  387.881989  11905600.0  5.239694e+09
2629  568  Bitcoin    BTC  ...  387.407990  41518800.0  5.234696e+09
2630  569  Bitcoin    BTC  ...  375.197998  32222500.0  5.071157e+09
2631  570  Bitcoin    BTC  ...  380.554993  18931800.0  5.144904e+09
2632  571  Bitcoin    BTC  ...  357.839996  25233200.0  4.839043e+09
2633  572  Bitcoin    BTC  ...  350.847992  29850100.0  4.745605e+09
2634  573  Bitcoin    BTC  ...  352.920013  15273000.0  4.774990e+09
2635  574  Bitcoin    BTC  ...  367.572998  15151600.0  4.974540e+09
2636  575  Bitcoin    BTC  ...  376.901001  30930100.0  5.102175e+09
2637  576  Bitcoin    BTC  ...  375.347992  25442200.0  5.082390e+09
2638  577  Bitcoin    BTC  ...  368.369995  18601700.0  4.989166e+09
2639  578  Bitcoin    BTC  ...  369.670013   8748030.0  5.008058e+09

[20 rows x 10 columns]

# Parallel Processing

In [ ]:
#darba dalīšana daļās. Izmanto, kad tiešām ir jēga, jo aizņem laiku un jāsaprot, vai tā vērts
import numpy as np
from multiprocessing import Pool 

def parallel_processing(df, func):
  df_split = np.array_split(df, 2) #sadala 2. daļās
  pool = Pool(2) # 2threads
  df = pd.concat(pool.map(func, df_split))
  pool.close()
  pool.join()
  return df

In [ ]:
def add_feature(df):
  df["avg_open_close"] = np.mean([df.Open, df.Close], axis=0)
  return df

In [ ]:
%%timeit
result = parallel_processing(df_,add_feature)

10 loops, best of 5: 135 ms per loop

In [ ]:
result

        SNo       Name Symbol  ...        Volume     Marketcap  avg_open_close
0         1  Chainlink   LINK  ...  2.126270e+06  5.938800e+07        0.179406
1         2  Chainlink   LINK  ...  1.423220e+06  5.267605e+07        0.160164
2         3  Chainlink   LINK  ...  1.186670e+06  4.589515e+07        0.140345
3         4  Chainlink   LINK  ...  1.025740e+06  5.959730e+07        0.150694
4         5  Chainlink   LINK  ...  1.021370e+06  6.376930e+07        0.176417
...     ...        ...    ...  ...           ...           ...             ...
34110  2469     Monero    XMR  ...  1.161681e+09  3.917993e+09      222.261886
34111  2470     Monero    XMR  ...  8.610354e+08  3.672199e+09      212.662546
34112  2471     Monero    XMR  ...  6.282454e+08  3.526000e+09      201.645736
34113  2472     Monero    XMR  ...  7.505161e+08  3.643191e+09      200.918421
34114  2473     Monero    XMR  ...  6.800109e+08  3.736292e+09      206.734885

[34115 rows x 11 columns]